SWIFT_VERSION = 6.0
SWIFT_APPROACHABLE_CONCURRENCY = YES
SWIFT_UPCOMING_FEATURE_MEMBER_IMPORT_VISIBILITY = YES
ENABLE_USER_SCRIPT_SANDBOXING = YES
LOCALIZATION_PREFERS_STRING_CATALOGS = YES
STRING_CATALOG_GENERATE_SYMBOLS = YES
SWIFT_EMIT_LOC_STRINGS = YES
ASSETCATALOG_COMPILER_GENERATE_SWIFT_ASSET_SYMBOL_EXTENSIONS = YES
IPHONEOS_DEPLOYMENT_TARGET = __DEPLOYMENT_TARGET__
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1
